[package]
name = "rust_lib_flutter_resume"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
flutter_rust_bridge = "=2.11.1"
des = "0.8.1"
base64 = "0.22.1"
